* {
	padding: 0px;
	margin: 0px;
	border: none;
	font-family: sans-serif;
	color: inherit;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:link,
a:visited {
	text-decoration: none;
	display: inline-block;
}

a:hover {
	text-decoration: none;
}
aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.flexbox {
	display: flex;
}
.space-between {
	justify-content: space-between;
}
.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	// height: 100vh;
}
.background-image {
	background-image: url("../assets/backgroundhome.png");
}

#root {
	background-color: #2a2b32;
	min-height: 100vh;
	min-width: 100%;
	// height: 2000px;
	// height: 100vh;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.app__loading {
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
	color: white;
	span {
		display: block;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 10px solid #4c4c4c;
		border-top-color: #f9b325;
		box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.6),
			0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.2),
			0px 0px 30px #f9b325;
		margin: auto;
		animation: spin 1s linear infinite;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
@media (max-width: 500px) {
	.flexbox {
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
	}
}
input:focus,
button:focus {
	transition: 0.5s box-shadow, 0.2s transform;
	transform: scale(1.1);
	box-shadow: 0px 0px 10px rgb(54, 163, 190);
}
