.files {
	&_item {
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;

		&_rows {
			margin-bottom: 20px;
			position: relative;

			&:first-child {
				min-height: 50px;
				max-height: 50px;
				border-bottom: 0px solid white;
			}

			padding: 10px 0;
			flex-basis: 100%;
			display: flex;
			justify-content: space-between;

			div {
				overflow: hidden;
				display: flex;
				align-items: center;
				word-wrap: break-word;
				justify-content: center;
				max-height: 140px;
				position: relative;

				button {
					
					transition: 1s all;
					opacity: 0;
					position: absolute;
					top: 0px;
					right: -500px;
					width: 100%;
					height: 70px;
					max-height: 100px;
					padding: 5px 40px;
					border-bottom: 3px solid white;
					font-size: 20px;

				}
			}

			border-bottom: 3px solid white;

			&:hover {
				button {
				
					opacity: 1;
					right: 0px;
				}
			}
		}

		&_icon {
			flex-basis: 10%;
			border-left: 1px solid white;

			img {
				width: 80px;
			}
		}

		&_name {
			flex-basis: 60%;
			border-left: 1px solid white;
		}

		&_date {
			flex-basis: 20%;
			border-left: 1px solid white;
		}

		&_size {
			flex-basis: 20%;
			border-left: 1px solid white;
		}

		&_folder {
			cursor: pointer;
		}
	}
}